  <footer class="footer">
      <div class="footer-container">
         <div>
            <h2 class="footer-title">Về chúng tôi </h2>
            <p>Giao dịch, đừng giao ‘dịch’. Mua bán trong thời điểm này, bạn nhớ làm theo khuyến cáo 5k của Bộ Y Tế:
               “Khẩu trang – Khử khuẩn – Khoảng cách – Không tập trung – Khai báo y tế” để đảm bảo an toàn cho bản thân,
               gia đình và cộng đồng nhé!</p>
            <ul class="social-icons">
               <li class="flex">
                  <img src="client/images/social-logo/circle-facebook.svg" alt="facebook">
               </li>
               <li class="flex">
                  <img src="client/images/social-logo/circle-messenger.svg" alt="messenger">
               </li>
               <li class="flex">
                  <img src="client/images/social-logo/circle-zalo.svg" alt="zalo">
               </li>
            </ul>
         </div>

         <div>
            <h2 class="footer-title">Hỗ trợ khách hàng</h2>
            <a href="#">Chăm sóc khách hàng</a>
            <a href="#">Thanh toán</a>
            <a href="#">Hướng dẫn mua hàng</a>
         </div>

         <div>
            <h2 class="footer-title">Chính sách</h2>
            <a href="#">Giao hàng & vận chuyển</a>
            <a href="#">Chính sách bảo mật</a>
            <a href="#">Chính sách mua hàng</a>
            <a href="#">Liên hệ hỗ trợ</a>
         </div>

         <div>
            <h2 class="footer-title">Thông tin liên hệ</h2>
            <div class="contact-item">
               <span>
                  <i class="fas fa-map-marker-alt"></i>
               </span>
               <span>
                  Khu phố 6, Thủ Đức, Thành phố Hồ Chí Minh
               </span>
            </div>
            <div class="contact-item">
               <span>
                  <i class="fas fa-phone-alt"></i>
               </span>
               <span>
                  0868 888 888
               </span>
            </div>
            <div class="contact-item">
               <span>
                  <i class="fas fa-envelope"></i>
               </span>
               <span>
                  cntt2018@gmail.com
               </span>
            </div>
         </div>
      </div>
   </footer>
   <!-- end of footer -->


   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
   <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
   <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


   <script src="client/js/script.js"></script>
   <script type="text/javascript" src="client/js/main.js"></script>


</body>

</html>