<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Trang chủ</title>
   <!-- stylesheet -->
   <link rel="stylesheet" href="client/css/index.css">
   <link rel="stylesheet" href="client/css/style.css">
   <!-- fav icon -->
   <link rel="icon" href="client/images/icon.png">

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

   <!-- slick slider-->
   <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body class="bg-light">
   <!-- preloader -->
   <div class="wrap-loader">
      <div class="loader"></div>
   </div>
   <!-- header -->
   <div class="header">
      <div class="menu-icon">
         <span class="fas fa-bars"></span>
      </div>
      <div class="logo">
         CodeWeb
      </div>
      <div class="header-items">
         <li><a href="./index.html">Trang chủ</a></li>
         <li><a href="#">Tin đăng</a></li>
         <li><a href="#">Thông báo</a></li>
      </div>

      <div class="search-icon">
         <span class="fas fa-search"></span>
      </div>
      <div class="cancel-icon">
         <span class="fas fa-times"></span>
      </div>
      <form action="#">
         <input type="search" class="search-data" placeholder="Search" required>
         <button type="submit" class="fas fa-search"></button>
      </form>

      <div class="header-user">
         <li><a href="./login.html"><i class="fas fa-user"></i></a></li>
         <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
      </div>
   </div>
   <!-- end of header -->
