
<body class="bg-light">
   <!-- preloader -->
   <div class="wrap-loader">
      <div class="loader"></div>
   </div>
   <!-- header -->
   <div class="header">
      <div class="menu-icon">
         <span class="fas fa-bars"></span>
      </div>
      <div class="logo">
         CodeWeb
      </div>
      <div class="header-items">
         <li><a href="./index.html">Trang chủ</a></li>
         <li> <a href="#">Tin đăng</a> </li>
         <li><a href="#">Thông báo</a></li>
      </div>

      <div class="search-icon">
         <span class="fas fa-search"></span>
      </div>
      <div class="cancel-icon">
         <span class="fas fa-times"></span>
      </div>
      <form action="#">
         <input type="search" class="search-data" placeholder="Search" required>
         <button type="submit" class="fas fa-search"></button>
      </form>

      <div class="header-user">
         <li><a href="./login.html"><i class="fas fa-user"></i></a></li>
         <li><button type="button" class="btn-post" data-bs-toggle="modal" data-bs-target="#myModal"><i
                  class="far fa-edit"></i> Đăng tin</button></li>
      </div>
   </div>
   <!-- end of header -->