<div class="container mt-5 wrap-popup">
      <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Popup</button> -->
      <div class="modal" id="myModal">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">

               <div class="modal-header">
                  <h5>Tạo tin mới</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
               </div>

               <div class="modal-body">
                  <div class="row">
                     <form action="/admin/create-post" method="post" enctype="multipart/form-data">
                        <div class="box-filter col-lg-3 col-md-4 col-sm-6 col-12 pb-1">
                           <label for="select-catagory">Danh mục: </label><br>
                           <select name="catagory" id="select-catagory">
                              <option value="cata-1">Cá nhân</option>
                              <option value="cata-2">Quỹ/Nhóm từ thiện</option>
                              <option value="cata-3">Tổ chức công ích</option>
                              <option value="cata-4">Tặng cộng đồng</option>
                           </select>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-8 pb-1">
                           <div class="form-group">
                              <label class="form-label" for="field-120334">Tên người bán:</label>
                              <div class="controls">
                                 <input type="text" id="name" class="form-control" name="NameAuthor">
                              </div>
                           </div>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                           <div class="form-group">
                              <label class="form-label" for="field-120334">Địa chỉ:</label>
                              <div class="controls">
                                 <input type="text" id="name" class="form-control" name="address">
                              </div>
                           </div>
                        </div>

                        <div class="col-xs-12 col-sm-9 col-md-8 .col-lg-6 pb-1">
                           <div class="form-group">
                              <label class="form-label" for="field-120334">Loại sản phẩm:</label>
                              <h5>Đồ may mặc</h5>
                              <hr />
                              <div class="row ml-2">
                                 <div class="col-lg-5 col-sm-6">
                                    <input type="checkbox" id="name" name="NameProduct" value="Đồ tổng hợp">
                                    <i>Đồ tổng hợp</i>
                                 </div>
                                 <div class="col-lg-5 col-sm-6">
                                    <input type="checkbox" id="name" name="NameProduct" value="Đồ trẻ sơ sinh">
                                    <i>Đồ trẻ sơ sinh</i>
                                 </div>
                                 <div class="col-lg-5 col-sm-6">
                                    <input type="checkbox" id="name" name="NameProduct" value="Đồ trẻ em nam">
                                    <i>Đồ trẻ em nam</i>
                                 </div>
                                 <div class="col-lg-5 col-sm-6">
                                    <input type="checkbox" id="name" name="NameProduct" value="Đồ trẻ em nữ">
                                    <i>Đồ trẻ em nữ</i>
                                 </div>
                                 <div class="col-lg-5 col-sm-6">
                                    <input type="checkbox" id="name" name="NameProduct" value="Đồ nữ giới">
                                    <i>Đồ nữ giới</i>
                                 </div>
                                 <div class="col-lg-5 col-sm-6">
                                    <input type="checkbox" id="name" name="NameProduct" value="Đồ nam giới">
                                    <i>Đồ nam giới</i>
                                 </div>
                                 <div class="col-lg-5 col-sm-6">
                                    <input type="checkbox" id="name" name="NameProduct" value="Đồ người cao tuổi nam">
                                    <i>Đồ người cao tuổi nam</i>
                                 </div>
                                 <div class="col-lg-5 col-sm-6">
                                    <input type="checkbox" id="name" name="NameProduct" value="Đồ người cao tuổi nữ">
                                    <i>Đồ người cao tuổi nữ</i>
                                 </div>
                                 <div class="col-lg-5 col-sm-6">
                                    <input type="checkbox" id="name" name="NameProduct" value="Đồ mẹ bầu">
                                    <i>Đồ mẹ bầu</i>
                                 </div>
                                 <div class="col-lg-5 col-sm-6">
                                    <input type="checkbox" id="name" name="NameProduct" value="Đồ khác">
                                    <i>Đồ khác</i>
                                 </div>

                                 <h5>Đồ học tập</h5>
                                 <hr />
                                 <div class="row ml-2">
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct" value="Dụng cụ học tập">
                                       <i>Dụng cụ học tập</i>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct" value="Sách vở tổng hợp">
                                       <i>Sách vở tổng hợp</i>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct" value="Sách vở tiểu học">
                                       <i>Sách vở tiểu học</i>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct" value="Sách vở trung học">
                                       <i>Sách vở trung học</i>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct" value="Sách vở phổ thông">
                                       <i>Sách vở phổ thông</i>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct" value="Sách vở đại học">
                                       <i>Sách vở đại học</i>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct" value="Sách văn học">
                                       <i>Sách văn học</i>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct" value="Sách khác">
                                       <i>Sách khác</i>
                                    </div>
                                 </div>

                                 <h5>Thực phẩm</h5>
                                 <hr />
                                 <div class="row ml-2">
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct"
                                          value="Lương thực “gạo, mì tôm,…”">
                                       <i>Lương thực “gạo, mì tôm,…”</i>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct"
                                          value="Gia vị “mắm, muối, mì chính,…”">
                                       <i>Gia vị “mắm, muối, mì chính,…”</i>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct"
                                          value="Bánh kẹo, nước, đồ ăn nhanh,…">
                                       <i>Bánh kẹo, nước, đồ ăn nhanh,…</i>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct" value="Đồ khác">
                                       <i>Đồ khác</i>
                                    </div>
                                 </div>

                                 <h5>Nội thất</h5>
                                 <hr />
                                 <div class="row ml-2">
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct" value="Chăn, màn, đệm…">
                                       <i>Chăn, màn, đệm…</i>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct"
                                          value="Giường, bàn ghế, tủ kệ,…">
                                       <i>Giường, bàn ghế, tủ kệ,…</i>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct" value="Đồ khác">
                                       <i>Đồ khác</i>
                                    </div>
                                 </div>

                                 <h5>Đồ Nội Trợ, Điện Dân Dụng</h5>
                                 <hr />
                                 <div class="row ml-2">
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct"
                                          value="Chén bát, nồi, xong, chảo,…">
                                       <i>Chén bát, nồi, xong, chảo,…</i>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct"
                                          value="Thau, chậu, thùng phi,..">
                                       <i>Thau, chậu, thùng phi,..</i>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                       <input type="checkbox" id="name" name="NameProduct"
                                          value="Nồi điện, bếp điện,..">
                                       <i>Nồi điện, bếp điện,..</i>
                                    </div>
                                 </div>
                              </div>

                              <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                 <div class="form-group">
                                    <label class="form-label" for="field-120334">Title</label>
                                    <div class="controls">
                                       <textarea class="form-control" name="" id=""></textarea>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                 <div class="form-group">
                                    <label class="form-label" for="field-120334">Note</label>
                                    <div class="controls">
                                       <input type="text" id="name" class="form-control" name="BirthDay">
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                 <div class="form-group">
                                    <label class="form-label" for="field-120334">Image</label>
                                    <div class="controls">
                                       <input type="file" id="name" class="form-control" name="productImage">
                                    </div>
                                 </div>
                              </div>
                     </form>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" onclick="redirectThisPage()">Đăng tin</button>
                  <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
               </div>
            </div>
         </div>
      </div>
   </div>