<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Trang chủ</title>
   <!-- stylesheet -->
   <link rel="stylesheet" href="client/css/index.css">
   <link rel="stylesheet" href="client/css/style.css">
   <!-- fav icon -->
   <link rel="icon" href="client/images/icon.png">

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

   <!-- slick slider-->
   <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

  <% include ./layout/menu.ejs %>
   <!-- end of header -->
   <!-- content ---------------------------------------->
   <div class="wrap-content">
      <!-- full slider -->
      <div class="container-fluid p-1 wrap-slide">
         <div class="site-slider">
            <div class="slider-one">
               <div>
                  <img src="client/images/temp/Slider_01.jpg" class="img-fluid" alt="banner 1">
               </div>
               <div>
                  <img src="client/images/temp/Slider_02.jpg" class="img-fluid" alt="banner 2">
               </div>
               <div>
                  <img src="client/images/temp/Slider_03.jpg" class="img-fluid" alt="banner 3">
               </div>
            </div>
            <div class="slider-btn">
               <span class="prev position-top"><i class="fas fa-chevron-left"></i> </span>
               <span class="next position-top right-0"><i class="fas fa-chevron-right"></i> </span>
            </div>
         </div>
      </div>

      <!-- slide category -->
      <div class="container-fluid p-1 wrap-category">
         <div class="site-slider-two px-md-4">
            <h4>Khám phá danh mục</h4>
            <div class="row slider-two text-center">
               <div class="col-md-2 catagory pt-md-2">
                  <img src="client/images/category/community.jpg" class="img-fluid" alt="catagory 1">
                  <span class="border site-btn btn-span">Tặng miễn phí</span>
               </div>
               <div class="col-md-2 catagory pt-md-2">
                  <img src="client/images/category/clothes.jpg" class="img-fluid" alt="catagory 1">
                  <span class="border site-btn btn-span">Quần áo</span>
               </div>
               <div class="col-md-2 catagory pt-md-2">
                  <img src="client/images/category/book.jpg" class="img-fluid" alt="catagory 1">
                  <span class="border site-btn btn-span">Học tập</span>
               </div>
               <div class="col-md-2 catagory pt-md-2">
                  <img src="client/images/category/electronics.jpg" class="img-fluid" alt="catagory 1">
                  <span class="border site-btn btn-span">Đồ điện tử</span>
               </div>
               <div class="col-md-2 catagory pt-md-2">
                  <img src="client/images/category/vehicle.jpg" class="img-fluid" alt="catagory 1">
                  <span class="border site-btn btn-span">Xe cộ</span>
               </div>
               <div class="col-md-2 catagory pt-md-2">
                  <img src="client/images/category/food.jpg" class="img-fluid" alt="catagory 1">
                  <span class="border site-btn btn-span">Thực phẩm</span>
               </div>
            </div>

            <div class="slider-btn">
               <span class="prev position-top"><i class="fas fa-chevron-left fa-2x text-secondary"></i></span>
               <span class="next position-top right-0"><i class="fas fa-chevron-right fa-2x text-secondary"></i></span>
            </div>
         </div>
      </div>
      <!-- product -->
      <div class="container-fluid p-1 wrap-post">
         <div class="row title-post">
            <div class="col-lg-6">
               <h4>Tin đăng mới</h4>
            </div>
         </div>
         <div class="row">
         <% data.map(function(product) { %>
                 <div   class="col-lg-3 col-md-4 col-sm-6 col-6 text-center product-center">
               <div   class="product border-0 bg-light mb-2">
               <a  onclick="viewPost('<%= product._id%>')" >
                  <div class="product-header">
                     <img src='<%= product.urlImage[0] %>' class="img-fluid" alt="">
                     <ul class="icons">
                        <span><i class="far fa-heart"></i></span>
                        <span><i class="fas fa-shopping-cart"></i></span>
                        <span><i class="fas fa-search"></i></span>
                     </ul>
                  </div>
               </div>
               <div class="product-footer">
                  <a href="client/product-details.html" class="text-decoration-none">
                     <h5><%= product.title %></h5>
                  </a>
                  <div class="rating">
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                  </div>
                  <p class="price">100 000đ</p>
                  </a>
               </div>
            </div>
       <%  }) %>
         </div>
      </div> 
   </div>


   <!-- end of content --------------------------------->

   <!-- footer -->
  <% include ./layout/footer.ejs %>

     <script>
               
                    function viewPost(id) {
                        let url = `view-post?_id=${id}`
                        location.href = url
                    }
                   
      </script>