<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Tìm kiếm</title>
   <!-- stylesheet -->
   <link rel="stylesheet" href="client/css/search.css">
   <link rel="stylesheet" href="client/css/style.css">
   <!-- fav icon -->
   <link rel="icon" href="./images/icon.png">

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>

 <% include ./layout/menu.ejs %>

   <!-- content --------------------------------->

   <div class="wrap-content">
      <div class="row title-post">
         <div class="col-lg-6">
            <h4>Kết quả tìm kiếm:</h4>
         </div>
      </div>

      <div class="container-fluid p-1 wrap-filter">
         <div class="container">
            <div class="wrap-fillter row">
               <div class="box-filter col-lg-3 col-md-4 col-sm-6 col-12">
                  <label for="select-catagory">Danh mục: </label><br>
                  <select name="catagory" id="select-catagory">
                     <option value="cata-1">Tặng miễn phí</option>
                     <option value="cata-2">Quần áo</option>
                     <option value="cata-3">Học tập</option>
                     <option value="cata-4">Đồ điện tử</option>
                     <option value="cata-5">Xe cộ</option>
                     <option value="cata-6">Thực phẩm</option>
                  </select>
               </div>
               <div class="box-filter col-lg-3 col-md-4 col-sm-6 col-12">
                  <label for="select-address">Khu vực: </label><br>
                  <select name="address" id="select-address">
                     <option value="hcm">Toàn quốc</option>
                     <option value="hcm">Tp HCM</option>
                     <option value="hn">Hà Nội</option>
                     <option value="dn">Đà Nẵng</option>
                     <option value="hp">Hải Phòng</option>
                     <option value="na">Nghệ An</option>
                  </select>
               </div>
               <div class="box-filter col-lg-3 col-md-4 col-sm-6 col-12">
                  <label for="filter-sort">Sắp xếp theo: </label><br>
                  <select name="sort-product" id="filter-sort">
                     <option value="price-up">Giá thấp trước</option>
                     <option value="post">Tin mới trước</option>
                  </select>
               </div>
            </div>
         </div>
      </div>

      <!-- product -->
      <div class="container-fluid p-1 wrap-post">
         <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-center product-center">
               <div class="product border-0 bg-light mb-2">
                  <div class="product-header">
                     <img src="client/images/books/book-1.jpg" class="img-fluid" alt="">
                     <ul class="icons">
                        <span><i class="far fa-heart"></i></span>
                        <span><i class="fas fa-shopping-cart"></i></span>
                        <span><i class="fas fa-search"></i></span>
                     </ul>
                  </div>
               </div>
               <div class="product-footer">
                  <a href="client/product-details.html" class="text-decoration-none">
                     <h5>Sách</h5>
                  </a>
                  <div class="rating">
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                  </div>
                  <p class="price">100 000đ</p>
               </div>
            </div>
         </div>

      </div>
   </div>


   <!-- end of content --------------------------------->

   <!-- footer -->
    <% include ./layout/footer.ejs %>
   <!-- end of footer -->

   <!-- Create post -->
     <% include ./create_post.ejs %>
   <!-- end of footer -->

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
   <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

   <script src="client/js/script.js"></script>
   <script type="text/javascript" src="client/js/search.js"></script>
</body>

</html>