@media (min-width: 1400px){
  .div-wrap-all{
      display: flex
  }
  .div-wrap-all-option{
      width: 250px;
      background-color: aqua;
      height: 100px;
  }
  .div-wrap-data{
      flex-grow: 1;
      background-color: bisque;
      height: 100px;
  }
}