@media (min-width: 1400px){
  .div-wrap-all{
      display: flex
  }
  .div-wrap-all-option{
      width: 250px;
      background-color: aqua;
      height: 100px;
  }
  .div-wrap-data{
      flex-grow: 1;
      background-color: bisque;
      height: 100px;
  }
}
.circle {
    border: none;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 50px;
    color: white;
    width: 50px;
}
.circle1{
    background: #E63946;
}
.circle1:hover {
    background: #c9323e;
}
.circle2{
    background: #457B9D;
}
.circle2:hover {
    background: #27526e;
}
.circle3{
    background: #1C9800 ;
}
.circle3:hover {
    background: #006400;
}