* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

body {
   background-color: rgb(244, 244, 244);
}

ul{
   list-style: none;
}

/* a {
   text-decoration: none;
   color: #12263a;
} */
.wrap-content {
   max-width: 1150px;
   margin: 10px auto;
   /* background-color: #fff; */
   /* border: 1px solid #e5e5e5; */
}

/* full-slider */
.site-slider {
   position: relative;
}

.position-top {
   position: absolute;
   top: 48%;
}

.site-slider .slider-btn .prev,
.site-slider .slider-btn .next {
   background-color: #FF5733;
   padding: 1rem 1.5rem;
   border-radius: 10rem;
   color: white;
   margin: 0 1rem;
   opacity: 0;
   transition: opacity 1s ease;
}
.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next {
   opacity: 1;
}

.right-0 {
   right: 0;
}

.slick-dots{
   display: flex;
   justify-content: center;
   margin: 0;
   padding: 1rem 0;
   position: absolute;
   bottom: 0;
   right: 50%;
}
.slick-dots li {
   margin: 0 0.6rem;
}
.slick-dots button {
   display: block;
   width: 0.5rem;
   height: 0.5rem;
   padding: 0;
   border: none;
   background-color: #FF5733;
   text-indent: -99999px;
   border-radius: 100%;
}
.slick-dots li.slick-active button {
   transform: scale(2);
   box-shadow: 0px 3px 5px rgba(255, 87, 51, 0.2);
}
.wrap-slide {
   background-color: white;
   border: 1px solid #e5e5e5;
}

/* slide catagory */

.site-slider-two {
   position: relative;
   /* height: 22rem;   */
}
.site-slider-two h4 {
   font-size: 1.1rem;
   font-weight: 700;
   text-transform: capitalize;
   color: #12263a;
   margin-bottom: 0;
   margin-top: 1rem;
}

.site-slider-two .catagory {
   height: 18rem;
   position: relative;
   overflow: hidden;
}

.site-slider-two .catagory img{
   height: 85%;
   margin: 0 1rem;
   /* border-radius: 1rem; */
}

.site-btn.btn-span {
   font-size: 1rem;
   padding: 0.8rem 1rem;
   border-radius: 1rem;
   border: 1px solid #FF5733;
   background-color: white;
   color: #000;
}

.slider-two .slick-track .catagory:hover span {
   background-color: #FF5733;
}
.wrap-category {
   margin-top: 1.5rem;
   background-color: white;
   border: 1px solid #e5e5e5;
}

/* product */
.wrap-post {
   margin-top: 1.5rem;
   background-color: white;
   border: 1px solid #e5e5e5;
}
.wrap-post h4 {
   font-size: 1.1rem;
   font-weight: 700;
   text-transform: capitalize;
   color: #12263a;
   margin: 1rem 0 1.5rem 1.5rem;
}

.product {
   height: auto;
   background-color: #fff;
   box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.15);
   border-radius: 1rem;
   text-align: center;
   transition: all 300ms ease-in-out;
}

.product:hover {
   box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.25);
}

.product-header {
   position: relative;
   background-color: #f6f2f1;
   height: 15rem;
   transition: all 300ms ease-in-out;
   z-index: 0 ;
}

.product-header img {
   height: 100%;
}

.product-footer {
   padding: 2rem 1.6rem 1.6rem 1.6 rem;
}

.product-footer h5 {
   font-size: 1.1rem;
   font-weight: 700;
   text-transform: capitalize;
   color: #12263a;
}
.product-footer h5:hover {
   color: #FF5733;
}
.rating {
   font-size: 0.7rem;
   color:#FF5733;
}

.product-footer .price {
   color: #FF5733;
   font-size: 1rem;
   font-weight: 700;
}

.product:hover .product-header::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   border-radius: 1rem 1rem 0 0;
   background-color: rgba(0,0,0,0.15);
   z-index: 1;
   transition: all 500ms ease-in-out;
}

.product-header .icons {
   position: absolute;
   top: 30%;
   right: 5%;
   transform: translate(0, -50%) scale(0);
   z-index: 2;
   opacity: 0;
   transition: all 500ms ease-in-out;
}
.product-header .icons span {
   background-color: #fff;
   font-size: 1rem;
   display: block;
   border-radius: 50%;
   padding: 0.8rem 0.9rem;
   cursor: pointer;
   transition: all 300ms ease-in-out;
}

.product-header .icons span i {
   transition: all 500ms ease-in-out;
}

.product-header .icons span:not(:last-child) {
   margin-bottom: 0.5rem;
}

.product-header .icons span:hover {
   background-color: #FF5733;
   color: #000;
}

.product:hover .icons {
   opacity: 1;
   transform: translate(0, -50%) scale(1);
}

.produc:hover .icons a {
   display: block;
   margin-bottom: 0.5rem;
}


