<div class="page-sidebar pagescroll">
    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">
        <!-- USER INFO - START -->
        <div class="profile-info row">
            <div class="profile-image col-xs-4">
                <a href="ui-profile.html">
                    <img alt="" src="img/avatar.jpg" class="img-responsive img-circle avatar">
                </a>
            </div>
            <div class="profile-details col-xs-8">
                <h3>
                    <a href="ui-profile.html" class="name">Shane Taylor</a>
                    <!-- Available statuses: online, idle, busy, away and offline -->
                    <span class="profile-status online"></span>
                </h3>
                <p class="profile-title">Web Developer</p>
            </div>
        </div>
        <!-- USER INFO - END -->
        <ul class='wraplist'>
            <li class='menusection'>Main</li>
            <li class="open">
                <a href="/admin">
                    <i class="fa fa-tachometer-alt"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="">
                <a href="/admin/all-account">
                    <i class="fa fa-user-circle"></i>
                    <span class="title">Account</span>
                </a>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    <span class="title">User</span>
                </a>
            </li>

            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-newspaper"></i>
                    <span class="title">Post</span>
                </a>
            </li>

        </ul>
    </div>
    <!-- MAIN MENU - END -->
</div>